@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../images/index/background.png");
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
}

.col-sm-6 {
    width: 100%;
    height: 100%;
}

.col-sm-6>div {
    max-height: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#div_vorreiter-logo {
    flex: 1 1 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_main-content {
    flex: 4 1 0;
    width: 500px;
    position: relative;
    left: -60px;
}

#div_zug-logo img {
    width: 500px;
    border-radius: 2%;
}

#div_login-form {
    border-radius: 2%;
    width: 360px;
    margin-left: 140px;
    background: #446eda;
    font-family: "Open Sans";
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: inset 0px 0px 1000px #102969;
}

#div_login-form p,
label {
    font-size: 0.7em;
    display: inline-block;
}

#div_login-form .container {
    padding: 0;
    text-align: right;
}

#div_login-form .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_login-form .col-sm-4 {
    padding-right: 0;
}

#div_login-form .div_erinnere-dich {
    text-align: right;
    padding: 0;
}

#div_login-form .div_pass-vergessen {
    padding: 0;
    text-align: center;
    cursor: pointer;
}

#div_login-form .div_pass-vergessen p {
    text-decoration: underline;
}

#button_submit {
    display: block;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 360px;
    height: 100%;
    border-radius: 2%;
    box-shadow: 0px 0px 20px 5px white;
    z-index: -1;
}