button#an_btnversandrechner_abs,
button#auf_btnversandrechner_abs {
    padding: 10px 55px;
    border-color: #28B298;
    background-color: #28B298;
    width: 100%;
    border: none;
    display: block;
    margin: 0 auto;
}

.lstblau {
    color: #28B298;
}

button.versandrechnerbtn {
    color: white;
    background-color: gray;
    border: gray;
    padding: 1px 3px 1px 3px;
    font-size: 0.8em;
    margin: 2px 2px 2px 2px;
    vertical-align: baseline;
}

span.versandrechner-g {
    color: green;
}

span.versandrechner-b {
    color: blue;
}

form#versandrechner_anfrage h4,
form#versandrechner_auftrag h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1em;
}

form#versandrechner_anfrage input,
form#versandrechner_auftrag input {
    padding: 5px;
}

input#an_plz-start,
input#an_plz-ziel,
form#versandrechner_anfrage input.grge,
form#versandrechner_auftrag input.grge {
    width: 100px;
}

form#an_versandrechner input:valid,
form#auf_versandrechner input:valid {
    border-color: lightgreen;
}

.form-group {
    margin-bottom: 1.25em;
}

#an_preis,
#auf_preis {
    left: 0;
    right: 0;
    background-color: #E6E6E6;
    padding: 5px 15px 5px 15px;
    display: block;
    text-align: center;
}

#an_preis #an_warnung,
#auf_preis #auf_warnung {
    color: red;
    font-style: italic;
    font-size: 1.15em;
    text-align: center;
    margin: 20px 0 20px 0;
}

#an_ergebnis table,
#auf_ergebnis table,
#an_ergebnis td,
#auf_ergebnis td,
#an_ergebnis tr,
#auf_ergebnis tr {
    border: 0;
    margin: 0;
    padding: 0;
}

#an_preis #an_ergebnis,
#auf_preis #auf_ergebnis {
    color: gray;
    font-style: italic;
    font-size: 1.15em;
    text-align: center;
    display: none;
}

#an_ergebnis #an_netto,
#auf_ergebnis #auf_netto {
    color: #28B298;
}

#an_versandrechnerkontakt,
#auf_versandrechnerkontakt {
    display: none;
}

#an_shipmentscol,
#auf_shipmentscol {
    display: none;
}

#an_shipmentslist,
#auf_shipmentslist {
    margin: 0;
}

.new_shipment {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    background: #E6E6E6;
    margin-bottom: 5px;
    color: #28B298;
    vertical-align: middle;
    padding: 0;
    border: none !important;
}

#an_shipmentslist .new_shipment div,
#auf_shipmentslist .new_shipment div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#an_shipmentslist .new_shipment span,
#auf_shipmentslist .new_shipment span {
    display: block;
}

#an_shipmentslist .delete_shipment:hover,
#auf_shipmentslist .delete_shipment:hover {
    opacity: 0.5;
}

#an_dialog_delete_shipment,
#auf_dialog_delete_shipment {
    display: none;
}

.ui-dialog-titlebar-close {
    visibility: hidden !important;
}

.ui-accordion-header-icon {
    position: absolute;
    top: 50%;
    display: block;
    left: 5%;
    transform: translate(-50%, -50%);
}

span.spaced {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.smaller {
    font-size: 0.9em;
}


/* Bootsptrapersatz */

@media (min-width: 576px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width: 576px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#an_servicelink,
#auf_servicelink {
    cursor: pointer;
    color: #28B298;
}

#an_servicelink:hover,
#auf_servicelink:hover {
    text-decoration: underline;
    color: #000;
}

#an_serviceauswahl,
#auf_serviceauswahl {
    width: 100%;
    background-color: #28B298;
    color: white;
    font-size: 0.9em;
    line-height: 0.9em;
    position: relative;
    padding-top: 10px;
    display: none;
}

#an_serviceauswahl input[type="checkbox"],
#auf_serviceauswahl input[type="checkbox"] {
    background-color: white;
    vertical-align: middle;
}

.tbl {
    display: inline-table;
    padding: 5px;
    width: 100%;
}

.tblrow {
    display: table-row;
    width: 100%;
}

.tblcell {
    display: table-cell;
    text-align: right;
    padding-left: 4px;
    padding-top: 5px;
}

.tblcell:first-of-type {
    text-align: left;
    padding-left: 0;
}

.btn-close {
    background-color: white;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    right: 5px;
    top: -12px;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    cursor: pointer;
}

.btn-close:hover {
    background-color: lightgray;
}

.btn-close-x {
    width: 20px;
    left: 2px;
    top: 10px;
    height: 3px;
    border-radius: 2px;
    background-color: #28B298;
    transform: rotate(45deg);
    position: absolute;
}

.btn-close-x:first-of-type {
    transform: rotate(135deg);
}

#an_serviceauswahl input[type="checkbox"],
#auf_serviceauswahl input[type="checkbox"] {
    display: none;
}

#an_serviceauswahl input[type="checkbox"]+label::before,
#auf_serviceauswahl input[type="checkbox"]+label::before {
    border: 1px solid #28B298;
    width: 15px;
    height: 15px;
    background-color: white;
    content: " ";
    display: inline-block;
    color: #28B298;
    vertical-align: bottom;
    line-height: 15px;
}

#an_serviceauswahl input[type="checkbox"]:checked+label::before,
#auf_serviceauswahl input[type="checkbox"]:checked+label::before {
    content: "✔";
}

#an_span_gewicht,
#auf_span_gewicht {
    position: relative;
    right: -15px;
}

#an_neworder,
#auf_neworder {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    background: none;
    padding: 0;
    border: none;
}

#an_neworder_headline,
#auf_neworder_headline {
    background: #E6E6E6;
    padding: 15px 15px 15px 45px;
    margin: 0 !important;
    text-align: center;
    color: #28B298;
    position: relative;
    left: -35px;
}

#an_neworder_img,
#auf_neworder_img {
    z-index: 1;
    content: url(../../images/auftrag/icon_add.png);
}

#an_serviceheadline,
#auf_serviceheadline {
    background: url(../../images/auftrag/serviceleistungen.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 42px;
}

input#an_username,
input#auf_username {
    /* bottrap */
    display: none;
}

.error {
    color: red;
    display: none;
}

#an_ajaxerror,
#auf_ajaxerror {
    background-color: lightcoral;
    color: darkred;
    display: none;
    padding: 15px;
    text-align: center;
}

#an_ajaxdone,
#auf_ajaxdone {
    background-color: lightgreen;
    color: darkgreen;
    display: none;
    padding: 15px;
    text-align: center;
}

#an_mwst,
#auf_mwst {
    display: none;
}